<%= simple_form_for @contract_turn,
                    html: {
                      class: "contract_turn form",
                      data: { turbo: false }
                    } do |f| %>  
  <% if @contract_turn.errors.any? %>
    <div class="error-message">
      <%= @contract_turn.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  
  <%= f.hidden_field :contract_id, value: @contract_turn.contract_id || params[:contract_id] %>
  <%= f.hidden_field :game_id, value: @contract_turn.game_id || params[:game_id] %>

  <%= f.submit "Create a contract turn", class: "bg-primary-red hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded" %>
<% end %>