
<div class="text-center">
<h1 class="text-3xl bg-primary-red text-white px-2 py-1">
  Game: <%= @game.id %>
</h1>
</div>

<p class="text-white px-4 py-2">
      Current player count: <%= Playable.where(game: @game).count %>
      <% if Playable.where(game: @game).count < 4 && Playable.where(game: @game, user: current_user).count == 0  %>
        <%= link_to "Join", new_playable_path(game_id: @game.id), class: "bg-primary-red hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded" %>
      <% end %>
</p>

<% if Playable.where(game: @game).count == 4%>
<table>
  <tr>
    <% @current_user_hand.cards.each do |card| %>
    <a href="<%= new_turn_path(card_id: card.id, game_id: @game.id) %>"><%= image_tag "cards/#{card.suit}-#{card.value}.png", class: 'w-32 h-46 m-2 float-left' %></a>
    <% end %>
  </tr>
</table>
<% end %>
